#wrapper {
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	

}

body {

	background-color: green;
	font-family: "Bentham", Helvetica, Arial, sans-serif;
	/*background-color: green;*/
	font-size: 1.2em;
	/*text-decoration: none;

*/
}
h1{
	text-align: center;
}

.entire {background-color: green;}

p {
	margin-right: 20px;
	line-height: 1.2em;
	font-family: "Bentham";

}


 img {
 	border-radius: 8%;
 	

 }

  .row1 img {	
	float: left;
	margin-right: 20px;

 }
 
  .row2 img {	
	float: right;
	margin-left: 20px;
 }

/*A clearfix is a way for an element to automatically clear its child elements, 
so that you don't need to add additional markup. It's generally used in float 
layouts where elements are floated to be stacked horizontally. */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
	padding-top: 40px;
}
